<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-login" href="auth/login">Login</a>
      <tr></tr>
      <a class="navbar-register" href="auth/register">Register</a>
      <tr></tr>
      <a class="navbar-usersList" href="/usersList" *ngIf="isAdmin()">Users list</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Welcome to detail shop!</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>